/Config/UserConfig/
/Config/BackupConfig/

/Data/

/App/Bot/BackupAppConfig.yaml
/App/Bot/AppConfig.yaml

/App/klee/AppConfig.yaml
/App/klee/BackupAppConfig.yaml

/App/Expand/

/App/Group/BackupAppConfig.yaml
/App/Group/AppConfig.yaml

/App/**/BackupAppConfig.yaml
/App/**/AppConfig.yaml